@{
    ViewData["Title"] = "Home Page";
}
<style>
    img {
        width: 100%;
        height: auto;
    }

</style>
<div style="padding-left:10%;">
    <img src="~/images/bg5.png"  style="background-size:cover;" />
</div>