@{
    ViewData["Title"] = "Home";
}
<style>
    img {
        width: 84%;
        height: auto;
    }
</style>

<div class="top-padding-main">
    <img src="~/images/bg5.png"  style="background-size:cover;" />
</div>