@using Microsoft.AspNetCore.Identity
@using Taxtation.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Ledger";
}

@if (SignInManager.IsSignedIn(User))
{
    <div style="margin-top:20px; text-align:center;">
        <img src="~/images/ledger.gif" />
    </div>
    <div style="margin-left:0%;align-items:center;justify-content:center;display: flex; margin-top:180px;">
        <ul class="nav navbar-nav">
            <li>
                <a asp-action="showOpeningDetail" asp-controller="GeneralLedger" class="w3-bar-item w3-button" style="color:#48C7C8"><img src="~/images/store.png" class="ImgStyleMain" style="background-color:#48C7C8;" /><br /> OPENING DETAIL</a>
            </li>
            <li>
                <a asp-action="showPayment" asp-controller="GeneralLedger" class="w3-bar-item w3-button" style="color:#55C77E"><img src="~/images/tax.png" class="ImgStyleMain" style="background-color:#55C77E;" /><br /> PAYMENT DETAIL</a>
            </li>
            <li>
                <a asp-action="showReceipt" asp-controller="GeneralLedger" class="w3-bar-item w3-button" style="color:#E1BE5C"><img src="~/images/bank.png" class="ImgStyleMain" style="background-color:#E1BE5C;" /><br /> RECEIPT DETAIL</a>
            </li>
            <li>
                <a asp-action="showJournalDetail" asp-controller="GeneralLedger" class="w3-bar-item w3-button" style="color:#C78ECC"><img src="~/images/accounting.png" class="ImgStyleMain" style="background-color:#C78ECC;" /><br /> JOURNAL DETAIL</a>
            </li>
            <li>
                <a asp-action="showFundTransferDetail" asp-controller="GeneralLedger" class="w3-bar-item w3-button" style="color:#EA70B1"><img src="~/images/crm.png" class="ImgStyleMain" style="background-color:#EA70B1;" /><br /> FUNDS TRANSFER</a>
            </li>
        </ul>
    </div>
}

