@using Microsoft.AspNetCore.Identity
@using Taxtation.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<style>
    h3{
        background-color: #e8e4e4d1;
    }
</style>
@if (SignInManager.IsSignedIn(User))
{
    <div style="margin-top:20px; text-align:center;">
        <img src="~/images/reports.gif" />
    </div>
    <h3>
        SETUPS
    </h3>
    <div style="margin-left:0%;align-items:center;justify-content:center;display: flex;">

        <ul class="nav navbar-nav">
            <li>
                <a asp-action="PrintAllCurrency" asp-controller="Reports" target="_blank" class="w3-bar-item w3-button" style="color:#C78ECC"><img src="~/images/accounting.png" class="ImgStyleMain" style="background-color:#C78ECC;" /><br /> CURRENCY</a>
            </li>
            <li>
                <a asp-action="PrintAllStore" asp-controller="Reports" target="_blank"  class="w3-bar-item w3-button" style="color:#48C7C8"><img src="~/images/store.png" class="ImgStyleMain" style="background-color:#48C7C8;" /><br /> STORE</a>
            </li>
            <li>
                <a asp-action="PrintAllBank" asp-controller="Reports" target="_blank"  class="w3-bar-item w3-button" style="color:#E1BE5C"><img src="~/images/bank.png" class="ImgStyleMain" style="background-color:#E1BE5C;" /><br /> BANK</a>
            </li>
            <li>
                <a asp-action="PrintAllTax" asp-controller="Reports"  target="_blank" class="w3-bar-item w3-button" style="color:#55C77E"><img src="~/images/tax.png" class="ImgStyleMain" style="background-color:#55C77E;" /><br /> TAX</a>
            </li>
            <li>
                <a asp-action="PrintAllCustomer" asp-controller="Reports" target="_blank"  class="w3-bar-item w3-button" style="color:#EA70B1"><img src="~/images/crm.png" class="ImgStyleMain" style="background-color:#EA70B1;" /><br /> CUSTOMER</a>
            </li>
            <li>
                <a asp-action="PrintAllSupplier" asp-controller="Reports" target="_blank"  class="w3-bar-item w3-button" style="color:#51CFFF"><img src="~/images/crm.png" class="ImgStyleMain" style="background-color:#51CFFF;" /><br /> SUPPLIER</a>
            </li>
            <li>
                <a asp-action="PrintAllItem" asp-controller="Reports" target="_blank"  class="w3-bar-item w3-button" style="color:#3498DB"><img src="~/images/item.png" class="ImgStyleMain" style="background-color:#3498DB;" /><br /> ITEM</a>

            </li>
            <li>
                <a asp-action="PrintAllSites" asp-controller="Reports" target="_blank"  class="w3-bar-item w3-button" style="color:#f97177"><img src="~/images/site.png" class="ImgStyleMain" style="background-color:#f97177;" /><br /> SITE</a>

            </li>
            <li>
                <a asp-action="PrintAllProject" asp-controller="Reports" target="_blank"  class="w3-bar-item w3-button" style="color:#34dbbc"><img src="~/images/project.png" class="ImgStyleMain" style="background-color:#34dbbc;" /><br /> PROJECT</a>

            </li>
            <li>
                <a asp-action="PrintAllCOA" asp-controller="Reports" target="_blank"  class="w3-bar-item w3-button" style="color:#b4c33a"><img src="~/images/coa.png" class="ImgStyleMain" style="background-color:#b4c33a;" /><br />ACCOUNTS</a>

            </li>
        </ul>
    </div>
    <H3>
        LEDGER
    </H3>
    <div style="margin-left:0%;align-items:center;justify-content:center;display: flex;">
        <ul class="nav navbar-nav">
            <li>
                <a asp-action="showOpening" asp-controller="Ledger" target="_blank"  class="w3-bar-item w3-button" style="color:#48C7C8"><img src="~/images/store.png" class="ImgStyleMain" style="background-color:#48C7C8;" /><br /> OPENING DETAIL</a>
            </li>
            <li>
                <a asp-action="showPayment" asp-controller="Ledger" target="_blank"  class="w3-bar-item w3-button" style="color:#55C77E"><img src="~/images/tax.png" class="ImgStyleMain" style="background-color:#55C77E;" /><br /> PAYMENT DETAIL</a>
            </li>
            <li>
                <a asp-action="showReceipt" asp-controller="Ledger" target="_blank"  class="w3-bar-item w3-button" style="color:#E1BE5C"><img src="~/images/bank.png" class="ImgStyleMain" style="background-color:#E1BE5C;" /><br /> RECEIPT DETAIL</a>
            </li>
            <li>
                <a asp-action="showJournalVoucher" asp-controller="Ledger" target="_blank"  class="w3-bar-item w3-button" style="color:#C78ECC"><img src="~/images/accounting.png" class="ImgStyleMain" style="background-color:#C78ECC;" /><br /> JOURNAL DETAIL</a>
            </li>

            <li>
                <a asp-action="showFundsTransfer" asp-controller="Ledger" target="_blank"  class="w3-bar-item w3-button" style="color:#EA70B1"><img src="~/images/crm.png" class="ImgStyleMain" style="background-color:#EA70B1;" /><br /> FUNDS TRANSFER</a>
            </li>
        </ul>
    </div>
    <H3>
        PURCHASE
    </H3>
    <div style="margin-left:0%;align-items:center;justify-content:center;display: flex;">
        <ul class="nav navbar-nav">
            <li>
                <a asp-action="showPurchase" asp-controller="Transaction" target="_blank"  class="w3-bar-item w3-button" style="color:#48C7C8"><img src="~/images/purchases.png" class="ImgStyleMain" style="background-color:#48C7C8;" /><br /> PURCHASE<br /> DETAIL</a>
            </li>
            <li>
                <a asp-action="showDebitNote" asp-controller="Transaction" target="_blank"  class="w3-bar-item w3-button" style="color:#55C77E"><img src="~/images/note.png" class="ImgStyleMain" style="background-color:#55C77E;" /><br />DEBIT NOTE</a>
            </li>
        </ul>
    </div>
    <H3>
        INVENTORY
    </H3>
    <div style="margin-left:0%;align-items:center;justify-content:center;display: flex;">
        <ul class="nav navbar-nav">
            <li>
                <a asp-action="showInventory" asp-controller="Transaction" target="_blank"  class="w3-bar-item w3-button" style="color:#E1BE5C"><img src="~/images/inventory.png" class="ImgStyleMain" style="background-color:#E1BE5C;" /><br /> INVENTORY DETAIL</a>
            </li>
        </ul>
    </div>
    <H3>
        SALES
    </H3>
    <div style="margin-left:0%;align-items:center;justify-content:center;display: flex;">
        <ul class="nav navbar-nav">
            <li>
                <a asp-action="showSale" asp-controller="Transaction" target="_blank"  class="w3-bar-item w3-button" style="color:#E1BE5C"><img src="~/images/sales.png" class="ImgStyleMain" style="background-color:#E1BE5C;" /><br /> SALE DETAIL</a>
            </li>
            <li>
                <a asp-action="showCreditNote" asp-controller="Transaction" target="_blank"  class="w3-bar-item w3-button" style="color:#CA94CF"><img src="~/images/note.png" class="ImgStyleMain" style="background-color:#CA94CF;" /><br /> CREDIT NOTE</a>
            </li>
        </ul>
    </div>
}


