@model Taxtation.ViewModel.TXSTaxDetailView
<div style="height:25px;"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Tax Detail</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            ×
                        </button>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("Tax", "Setup", FormMethod.Post))
                        {
                            <div>
                                <input type="text" asp-for="tax.Id" class="form-control" hidden="hidden" />
                            </div>
                            <div>
                                <input type="text" asp-for="tax.UserName" class="form-control" hidden="hidden" />
                            </div>
                            <div>
                                <input type="text" asp-for="tax.TaxId" class="form-control" hidden="hidden" />
                            </div>
                            <div style="float:right;">
                                @Html.CheckBox("TaxActive", Model.tax.TaxActive.Value)Active
                            </div>
                            <div>
                                Name<span class="mandatory">*</span>:
                                <input type="text" asp-for="tax.TaxName" class="form-control" required="required" />
                               
                            </div>
                            <div>
                                Type<span class="mandatory">*</span>:
                                <select asp-for="tax.TaxType" class="form-control" required="required"><option value="SALE">SALE</option><option value="PURCHASE">PURCHASE</option></select>
                            </div>
                            <div>
                                Abbriviation:
                                <input type="text" asp-for="tax.TaxAbbr" class="form-control" />
                            </div>
                            <div>
                                Tax Percent<span class="mandatory">*</span>:
                                <input type="number" asp-for="tax.TaxPercent" class="form-control" required/>
                            </div>

                            <div>
                                Description:
                                <input type="text" asp-for="tax.TaxDesc" class="form-control" />
                            </div>
                            <div style="float:right;">
                                @Html.CheckBox("TxsDefault", Model.tax.TxsDefault.Value)Default
                            </div>
                            <div>
                                COA Tax Account<span class="mandatory">*</span>:
                                <select asp-for="tax.Coaid" required="required" class="form-control">
                                    <option>Select</option>
                                    @foreach (var j in Model.lstAccount)
                                    {
                                        <option value=@j.Coaid>@j.AccName</option>
                                    }

                                </select>
                            </div>

                            <br />
                            <div>
                                @if (ViewData["_Save"].ToString() == "True")
                                {
                                    <button type="submit" name="Save" id="Save" value="Save" style="background-image:url(../images/button/Save.png)" class="btnControlDML">Save</button>
                                }
                                @if (ViewData["_Update"].ToString() == "True")
                                {
                                    <button type="submit" name="Update" id="Update" value="Update" style="background-image:url(../images/button/Update.png)" class="btnControlDML">Update</button>
                                }
                                <button type="button" style="float:right;background-image:url(../images/button/Clear.png)" id="btnHideModal" data-dismiss="modal" class="btnControlDML">
                                    Hide
                                </button>
                            </div>
                        }
                    </div>



                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">

    $(document).ready(function () {
        $('#tax_TaxType').change(function () {
            debugger;
            var userID = $('#tax_Id').val();
            var Name = $('#tax_UserName').val();
            var type1 = $('#tax_TaxType').val();
            var DDType = "<option>Select</option>";
            $.ajax({
                type: 'GET',
                url: '/Setup/lstCOAAccount',
                data: { id: userID, userName: Name, type: type1},
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    console.log(result);
                    for (var i = 0; i < result.Length; i++) {
                        DDType += "<option Value=" + result[i].coaId + ">" + result[i].accName + "<option/>";
                    }
                },
                error: function () {
                }
            })
            $('#tax_Coaid option').remove();
            $('#tax_Coaid').append(DDType);
        })
    
    
    });

</script>