body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}
@media screen and (max-width:400px) {
    .body-content {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 20px;
    }
}
.buttonsize {
    width: 100px;
    margin-top: 23px;
}
.buttonsizesetup {
    width: 100px;
    margin-top: -2px;
}
.toppadding1 {
    padding-top: 60px;
    z-index: 1;
    margin-top: 30px;
}
.toppadding2 {
    padding-top: 60px;
    z-index: 1;
    margin-top: 30px;
}
.toppadding3 {
    padding-top: 60px;
    z-index: 1;
    margin-top: 80px;
}
@media screen and (max-width:400px) {
    .buttonsize {
        width: 64px;
        margin-top: -2px;
        margin-bottom: 5px;
    }
    .buttonsizesetup {
        margin-top: -2px;
        margin-bottom: 5px;
    }
    .toppadding1 {
        padding-top: 60px;
        z-index: 1;
        margin-top: 60px;
    }
    .toppadding2 {
        padding-top: 60px;
        z-index: 1;
        margin-top: 80px;
    }
    .toppadding3 {
        padding-top: 60px;
        z-index: 1;
        margin-top: 80px;
    }
}
@media screen and (max-width:400px) {
    .top-padding-main {
        padding-top: 78px;
    }
}
@media screen and (max-width:400px) {
    .top-padding-login {
        padding-top: 56px;
    }
}
    /* Carousel */
    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

    /* Make .svg files in the carousel display properly in older browsers */
    .carousel-inner .item img[src$=".svg"] {
        width: 100%;
    }

    /* QR code generator */
    #qrCode {
        margin: 15px;
    }

    /* Hide/rearrange for smaller screens */
    @media screen and (max-width: 767px) {
        /* Hide captions */
        .carousel-caption {
            display: none;
        }
    }
